$color--black : #000;
$color--white:#fff;
body{
  background-color:$color--black;
  h1{
    color: $color--white;
    font-size: 40px;
    display: flex;
    border: 1px solid $color--white;
    border-radius: 15px;
  }
}